---
import Buttons from "./Buttons.astro";

const {data} = Astro.props;
---


    <article>
<a href="single_view">
    <div class="img_artist_lineup">
      <slot>
        <img class="artist_img" src={data.img} alt="#">
      </slot>
    </div>
<h2 class="name">{data.Artist}</h2>
<h3 class="info">Kl: {data.Timeslot}</h3>
<h3>{data.Date}</h3>
<h3>{data.Day}</h3>
<Buttons variant="secondary"></Buttons>
</a>
    </article>

<style>
    .line_up_tamplate{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
margin: 10px;
    }
</style>

<script>

</script>