---
import Buttons from "./Buttons.astro";

const {data} = Astro.props;
console.log(data);
---


 <article>
  <a href={"/singleviews/"+ data.slug}>

    <div class="img_artist_lineup">
      <slot>
        <img class="artist_img" src=`img/${data.img}` alt="#">
      </slot>
    </div>

<h2 class="name">{data.Artist}</h2>
<h3 class="info">{data.Timeslot}</h3>
<h3>{data.Day} // {data.Date}</h3>



<Buttons variant="secondary" size="small">Read more!</Buttons>

</a>
</article>

<style>
    .line_up_tamplate{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
margin: 10px;
    }
</style>

<script>

</script>